<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>My Blog</title>

	<link rel="stylesheet" type="text/css" href="{$baseUri}/css/default.css" />
</head>

<body>
	<div id="wrap">
		<h1>My Blog</h1>
		{include #content}
	</div>
</body>
</html>
